<div class="modal modal-fixed-footer" id="modal-eliminar-plan" ng-init="cargarPlanes()">
	<div class="modal-content">
		<h4 class=" center grey-text">Eliminar Plan académico</h4>
		<div class="container">
		<table class=" bordered striped hoverable highlight centered">
			<thead>
				<tr>
					<th data-field="id">Grado</th>
					<th data-field="name">Código Asignatura</th>
					<th data-field="button">Eliminar</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="plan in $parent.planes ">
					<td>{{ plan.grado_idgrado }}</td>
					<td>{{ plan.asignatura_idasignatura }}</td>
					<td>
						<a ng-click="eliminarPlan(plan.grado_idgrado, plan.asignatura_idasignatura)" href="" class="tooltipped btn-floating btn waves-effect waves-light orange" data-position="right" data-delay="50" data-tooltip="click para eliminar"><i class="material-icons">close</i></a>
					</td>
					<script>
						$('.tooltipped').tooltip({delay: 50});
					</script>
				</tr>
			</tbody>
		</table>
		</div>	
	</div>
	<div class="modal-footer">
			<!-- <a class="btn waves-effect waves-default col s4">Eliminar</a> -->
	</div>	
</div>	
<script>
</script>
<script src="js/vendor/angular-materialize.js"></script>