<div class="modal" id="modal-agregar-PlanAcademico">
	<div class="modal-content">
		<h4 class="teal-text">Registrar plan acádemico</h4>		
	</div>
	<div class="container row">
		<select ng-model="$parent.asignaturas" class="browser-default col s6 tooltipped" material-select watch data-position="top" data-delay="10" data-tooltip="Seleccione la asignatura ">
			<option id="asignatura-default" value="">seleccione la asignatura</option>
			<option value="{{ item.idasignatura }}" ng-repeat="item in $parent.listaAsignaturas">{{ item.nombre }}</option>
		</select>
		<select ng-model="$parent.grados" class="browser-default col s6 tooltipped" material-select watch data-position="top" data-delay="10" data-tooltip="Grado en el que se imparte">
			<option id="grado-default" value="">seleccion el grado</option>
			<option value="{{ item.idgrado }}" ng-repeat="item in $parent.listaGrados ">{{ item.idgrado }}</option>
		</select>
	</div>
	<div class="modal-footer">
		<div class="container">
			<a class="btn waves-effect waves-default col s6" ng-click="nuevoPlanAcademico()" >Registrar</a>
		</div>
	</div>	
</div>	
<script>
	$('select').material_select();
	$('.tooltipped').tooltip();
</script>
<script src="js/vendor/angular-materialize.js"></script>