<div class="contenedor-principal">
	<div class="row">
		<div class="col s12">
		    <div class="row">
		    	 <div class="col s3 right ">
			         <div class="card small">
			            <div class="card-content">
			  				<div class="row center">
			            		<i class="material-icons color">star</i>
			            		<i class="material-icons color">star</i>
			            		<i class="material-icons color">star</i>
			            		<i class="material-icons color">star</i>
			            		<i class="material-icons color">star</i>
			            	</div>
			           		<a class="dropdown-button1 btn orange col s12 center" href='#' data-activates='dropdown1'>PERÍODO</a>
							  	<ul id='dropdown1' class="dropdown-content">
								    <li><a class="orange-text" href="#!">PERÍODO 1</a></li>
								    <li><a class="orange-text" href="#!">PERÍODO 2</a></li>
								    <li><a class="orange-text" href="#!">PERÍODO 3</a></li>
								    <li><a class="orange-text" href="#!">PERÍODO 4</a></li>
							  	</ul>
			            </div>
			            <div class="card-action">

			            	<a ng-click=mostrarLogrosEspanol() class="waves-effect waves-light btn col s12 light-green">Logros</a>
			            	<a href="#/inasistenciasEspanol" class="waves-effect waves-light btn col s12 red accent-3">Inasistencias</a>
			            </div>
			        </div>
			    </div>		      

			</div>
		
		</div>
				
	</div>
</div>

		
<script src="js/main.js"></script>