<div class="contenedor-principal1">
    <div class="row">
      <div class="col s10">
      <div class="row">
        
          <div ng-repeat=" docente in listaDocente">
          <div class="col s3.5" >            
              <div class="card-panel">
                <h6>{{ docente.nombre1}} {{ docente.nombre2}} {{docente.apellido1}} {{docente.apellido2}}</h6>
               
                  <h5 class="teal-text">{{ docente.nombre }}<i class="material-icons color6">message</i></h5>

               
              </div>
            </div>
        </div>
        </div>
        </div>
      