<div class="contenedor-principal1" ng-init="cargarLogros2()">
	<div class="row">
		<div class="col s10">		   
		    	 <div class="col s3 right">
			         <div class="card small">
			            <div class="card-content">
			  				<div class="row center">
			            		<i class="material-icons color">star</i>
			            		<i class="material-icons color">star</i>
			            		<i class="material-icons color">star</i>
			            		<i class="material-icons color">star</i>
			            		<i class="material-icons color">star</i>
			            	</div>
			           		<select ng-model="$parent.selectPeriodo" class="col s12 browser-default tooltipped" data-position="right" data-delay="50" data-tooltip="seleccione el periodo" name="" id="">
								<option class=" teal-text" value="1">Período 1</option>
								<option class=" teal-text" value="2">Período 2</option>
								<option class=" teal-text" value="3">Período 3</option>
								<option class=" teal-text" value="4">Período 4</option>
							</select>
			           		<!-- <a class="dropdown-button1 btn orange col s12 center" href='#' data-activates='dropdown1'>PERÍODO</a>
							  	<ul id='dropdown1' class="dropdown-content">
								    <li><a class="orange-text" href="#!">PERÍODO 1</a></li>
								    <li><a class="orange-text" href="#!">PERÍODO 2</a></li>
								    <li><a class="orange-text" href="#!">PERÍODO 3</a></li>
								    <li><a class="orange-text" href="#!">PERÍODO 4</a></li>
							  	</ul> -->
			            </div>
			            <div class="card-action">
			            	<a href=""  ng-click="cargarLogros()" class="waves-effect waves-light btn col s12 teal lighten-1 ">Logros</a>	            	
			            </div>
			        </div>
			    </div>
			    <div class="col s9" >
						<table class="bordered striped hihlight col s12">
						<thead>
							<tr>
								<th></th>
								<th>Logro</th>
								<th>Nota</th>
								<th>Observación</th>						
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat=" logro in listaLogros">
								<td><i class="material-icons color">star</i></td>
								<td >{{ logro.nombre }}</td>
								<td>{{ logro.nota}}</td>
								<td>{{ logro.observacion }}</td>
							</tr> 
						</tbody>
						</table>
				</div>		      
		</div>				
	</div>



</div>
<script>
	$('select').material_select();
</script>
		
<script src="js/main.js"></script>