 <!-- esto es una prueba -->
 <div class=" row col s12">
        <div class="col s2.5">
          <div class="card small ">
            <div class="card-image">
              <img src="img/c.n.jpg">
           
            </div>
            <div class="card-action center">
              <h5>C.NATURALES</h5>
              <a class="waves-effect waves-light btn light-green" >Ver asignatura</a>
            </div>
          </div>
        </div>

        <div class="col s2.5">
          <div class="card small">
            <div class="card-image">
              <img src="img/español.jpg">
            </div>
              <div class="card-action center">
               <h5>ESPAÑOL</h5>
              <a href="#/asignaturas/espanol" class="waves-effect waves-light btn orange">Ver asignatura</a>
            </div>
              
          </div>
        </div>

        <div class="col s2.5">
          <div class="card small">
            <div class="card-image">
              <img src="img/matematicas.jpg">             
            </div>    
            <div class="card-action center">
              <H5>MATEMÁTICAS</H5>
              <a class="waves-effect waves-light btn pink" >Ver asignatura</a>
            </div>
          </div>
        </div>

       <div class="col s2.5">
          <div class="card small">
            <div class="card-image">
              <img src="img/matematicas.jpg">             
            </div>    
            <div class="card-action center">
              <H5>INGLÉS</H5>
              <a class="waves-effect waves-light btn pink">Ver asignatura</a>
            </div>
          </div>
        </div>
  </div>
