
<!-- plantilla de las opciones de los estudiantes -->
	<div class=" waves-effect waves-light opciones1" ng-click="inicio()">
		<i class=" waves-effect waves-light modal-trigger material-icons color2 large" data-target="modal1">person_add</i>
		<p class="teal-text">Agregar Estudiante</p>
	</div>

	<div class=" waves-effect waves-light opciones1" ng-click="mostrarEditarEstudiante()" data-target="modal2">
		<i class="material-icons color2 large">person</i>
		<i class="material-icons color2 medium">edit</i>
		<p class="teal-text">Editar Estudiante</p>
	</div>

	<div class=" opciones1 waves-effect waves-light modal-trigger" 	data-target="modal3">
		<i class="material-icons color2 large">person</i>
		<i class="material-icons color2 medium">search</i>
		<p class="teal-text">Consultar Estudiante</p>
	</div>
<!-- plantilla de las opciones de los estudiantes -->

