
<!-- plantilla de las opciones de los logros -->
	<div class=" waves-effect waves-light modal-trigger  opciones1" ng-click="mostrarAgregarLogro()" data-target="modal1">
		<i class="material-icons color2 large" >class</i>
		<i class="material-icons color2 medium" >star</i>
		<p class="teal-text">Agregar Logros</p>
	</div>

	<div class=" waves-effect waves-light modal-trigger opciones1" ng-click="mostrarEditarLogro()" data-target="modal2">
		<i class="material-icons color2 large">class</i>
		<i class="material-icons color2 medium">edit</i>
		<p class="teal-text">Editar Logros</p>
	</div>

	<div class=" opciones1 waves-effect waves-light modal-trigger" data-target="modal3">
		<i class="material-icons color2 large">class</i>
		<i class="material-icons color2 medium">search</i>
		<p class="teal-text">Consultar Logros</p>
	</div>
<!-- plantilla de las opciones de los logros -->

