<div class="row">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s3 pestanas"><a class="active tooltipped" href="#nuevo-salon"  data-position="bottom" data-delay="50" data-tooltip="opciones para los salones de clase!">salones</a></li>
			<li class="tab col s3 pestanas"><a href="#grados" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="todas las opciones para los grados!">Grados</a></li>
			<li class="tab col s3 pestanas"><a href="#grupos" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="todas las opciones para los grupos!">Grupos</a></li>
		</ul>
	</div>
	<!-- aqui van las opciones para los grados -->
	<div id="grados" class="col s10">
		<div class=" waves-effect waves-light opciones1">
			<i class=" waves-effect waves-light material-icons color2 large" ng-click="mostrarModalAgregarGrado()">school</i>
			<p class="teal-text">Agregar grado</p>
		</div>
		<div class=" waves-effect waves-light opciones1">
			<i class=" waves-effect waves-light material-icons color2 large" ng-click="mostrarModalEliminarGrado()">delete</i>
			<p class="teal-text">Eliminar grado</p>
		</div>
	</div>
	<!-- aqui van las opciones para los grados -->


	<!-- aqui van las opciones para los grupos -->
	<div id="grupos" class="col s12">
		<div class=" waves-effect waves-light opciones1">
			<i class=" waves-effect waves-light material-icons color2 large" ng-click="mostrarModalAgregarGrupo()">group_add</i>
			<p class="teal-text">Agregar grupo</p>
		</div>
		<div class=" waves-effect waves-light opciones1">
			<i class=" waves-effect waves-light material-icons color2 large" ng-click="mostrarModalEliminarGrupo()">delete</i>
			<p class="teal-text">Eliminar grupo</p>
		</div>
	</div>
	<!-- aqui van las opciones para los grupos -->
	
		<!-- aqui van las opciones para los grupos -->
	<div id="nuevo-salon" class="col s12">
		<div class=" waves-effect waves-light opciones1">
			<i class=" waves-effect waves-light material-icons color2 large" ng-click="mostrarModalAgregarSalon()">account_balance</i>
			<p class="teal-text">Agregar salon</p>
		</div>

		<div class=" waves-effect waves-light opciones1">
			<i class=" waves-effect waves-light material-icons color2 large" ng-click="mostrarModalEliminarSalon()">delete</i>
			<p class="teal-text">Eliminar salon</p>
		</div>
	</div>
	<!-- aqui van las opciones para los grupos -->


</div>
<script type="text/javascript">
$('ul.tabs').tabs();
$('.tooltipped').tooltip({delay: 50});
</script>