<!-- plantilla de las opciones de los horarios -->
	<div class=" waves-effect waves-light modal-trigger  opciones1" ng-click="mostrarAgregarHorario()" data-target="modal1">
		<i class="material-icons color2 large" >today</i>
		<i class="material-icons color2 medium" >add</i>
		<p class="teal-text">Agregar horario</p>
	</div>

	
	<div class=" opciones1 waves-effect waves-light modal-trigger" ng-click="mostrarEditarHorario()" data-target="modal3">
		<i class="material-icons color2 large">today</i>
		<i class="material-icons color2 medium">search</i>
		<p class="teal-text">Consultar horario</p>
	</div>

<!-- plantilla de las opciones de los horarios -->