<!-- plantilla de las opciones de los usuarios -->
	<div class=" waves-effect waves-light opciones1" ng-click="mostrarAgregarUsuario()">
		<i class=" waves-effect waves-light modal-trigger material-icons color2 large" >person_add</i>
		<p class="teal-text">Agregar Usuarios</p>
	</div>

	<div class=" waves-effect waves-light opciones1 modal-trigger" ng-click="mostrarEditarUsuario()">
		<i class="material-icons color2 large">person</i>
		<i class="material-icons color2 medium">edit</i>
		<p class="teal-text">Consultar Usuarios</p>
	</div>

	<div class=" opciones1 waves-effect waves-light modal-trigger" ng-click="mostrarEliminarUsuario()">
		<i class="material-icons color2 large">person</i>
		<i class="material-icons color2 medium">delete</i>
		<p class="teal-text">Eliminar Usuario</p>
	</div>
<!-- plantilla de las opciones de los usuarios -->