<div class="modal" id="modal-cambiar-contrasena">
	<div class="modal-content">
		<h4 class="teal-text">Cambie su contraseña</h4>
		<div class=" container row">
			<h5 class="teal-text">Digite su contraseña actual: </h5>
			<div class="input-field col s6">
				<i class="material-icons prefix">vpn_key</i>
					<input ng-model="$parent.contrasenaVieja" type="password" class="validate">
				<!-- <label for="icon_prefix">Código</label> -->
			</div>


			<h5 class="teal-text">Digite la nueva contraseña: </h5>
			<div class="input-field col s6">
				<i class="material-icons prefix">vpn_key</i>
					<input ng-model="$parent.contrasenaNueva" type="password" class="validate">
				<!-- <label for="icon_prefix">Nombre</label> -->
			</div>
		</div>
		<h6>Recuerde que su clave de acceso es de uso personal, se le recomienda cambiarla periódicamente para mayor seguridad.</h6>		
	</div>
	<div class="modal-footer">
		<a class="btn waves-effect waves-default" ng-click="cambiarContrasena()" >Cambiar</a>
	</div>	
</div>	
<script>
	$('select').material_select();
</script>